
@{
    ViewData["Title"] = "ConfirmForgotPasswordInfo";
    Layout = "~/Views/Shared/_LayoutSecurity.cshtml";
}

<div class="card">
    <p><b>@TempData["email"]</b> adresinize şifre değişikliği için bir email gönderilmiştir. Mailinizi kontrol ediniz ve linke tıklayınız.</p>
    <div class="row">
        <p><a href="/Security/Login">Giriş Yap</a></p>
    </div>
</div>